table {
  border-collapse: collapse;
  width: 60%;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #adcfe6}

th {
  background-color: rgb(17, 85, 141);
  color: white;
}
.button {
  background-color: rgb(111, 178, 233);
  font-size: 13px;
  border: black;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}

.mat-paginator {
  background-color: rgb(17, 85, 141);
  width: 60%;
}


